# dependencies
/node_modules

# next.js
/.next/
/out/

# production build
/build

# env files (비밀키 보호)
.env.local
.env*.local

# testing / coverage
/coverage

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
